img {
  margin-top: 3%;
  width: 200px;
  height: 100px;
}

/*form {
    width: 80%;
    margin: 0 auto;
}*/

#photolist {

float: left;
}

#socialList {
  margin-top: 5%;
}

html {
  background: url("imgs/backgroundfin2.png");
}

#api-input {
  margin-top: 18vw;
  margin-left: 16vw;
  height: 50px;
  width: 500px;
}

#submit-btn {
  margin-left: 5vw;
  width: 100px;
  height: 30px;
}

#drop {
  margin-left: 4vw;
}

h2 li {
  font-size: 18px;
}

h2 {
  font-size: 18px;
}
